<mat-card class="mt-4">
  <mat-card-header class="borda">
    <h1 mat-card-title class="fs-3">{{ cirurgia.titulo }}</h1>
    <mat-card-subtitle class="fw-semibold fs-6">Data: {{ cirurgia.data }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mt-3">
    <h4 class="ms-auto fw-semibold text-muted">Horario de incio: {{ cirurgia.horaInicio }}</h4>
  </mat-card-content>

  <mat-divider class="mt-3"/>

  <mat-card-actions class="d-flex justify-content-between">
    <div>
      <button 
        mat-icon-button 
        color="accent"
        matTooltip="visualizar cirurgia"
        (click)="visualizar(cirurgia)">

        <mat-icon>visibility</mat-icon>
      </button>
    </div>

    <div>
      <button
        mat-icon-button 
        color="primary"
        matTooltip="editar cirurgia"
        routerLink='/cirurgias/editar/{{cirurgia.id}}'>
  
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button 
        color="primary"
        matTooltip="excluir cirurgia"
        (click)="excluir(cirurgia)">

        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>